/target_distribution_falta_pago.png
/creditos_objetivo_credito.png
/creditos_situacion_vivienda.png
/tarjetas_estado_civil.png
/tarjetas_estado_cliente.png
/tarjetas_genero.png
/tarjetas_nivel_educativo.png
/tarjetas_nivel_tarjeta.png
/correlaciones_creditos.png
/correlaciones_tarjetas.png
/variable_economica_vs_mora.png
/relacion_variables_economicas_mora.png
